.total {
    margin: 2rem auto;
    text-align: center;
    
}

.formWrap{
    img{
        width: 30%;
        transition: 0.3s;
    }
    img:hover{
        opacity: 0.9;
    }
    .btn{
        margin: .5rem auto;
    }
}